{% extends 'users/base.html' %}
{% load static %}


{% block content %}
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
              <h3 class="text-center font-weight-light my-4">Установить новый пароль</h3>
            </div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {% include "users/form_snippet.html" %}
                <div class="form-group d-flex justify-content-center mt-4 mb-0">
                  <input class="btn btn-primary" type="submit" value="Подтвердить">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}